<header>
  <div
    class="header__first-section container d-flex justify-content-between align-items-center"
  >
    <img class="logo" src="../../assets/logo.png" alt="logo" />

    <div class="first__section-buttons">
      <button type="button" class="btn">Sign up</button>
      <button type="button" class="btn btn-primary">Sign in</button>
    </div>
  </div>

  <img
    src="../../assets/banner.jpg"
    class="container-fluid p-0 header__second-section"
    alt="banner image"
  />

  <div class="header__third-section container text-white d-flex flex-column">
    <div class="third__section-first-text d-flex align-items-center">
      <span>სლოტები</span>
      <p class="m-0">10 სექტემბერი - 7 ნოემბერი</p>
    </div>

    <div class="third__section-second-text">
      <p class="m-0">მოიპოვე 10 საგზურიდან ერთ-ერთი</p>
    </div>

    <div class="third__section-third-text">
      <p class="m-0">მოხვდი პოკერის ფესტივალზე მალტაში</p>
    </div>
  </div>
</header>
