header {
  position: relative;
}

.header__first-section,
.header__third-section {
  padding: 0px 16px;
}

.logo {
  width: 23.72px;
  height: 24px;
}

.btn {
  color: white;
}

.btn,
.btn-primary {
  font-size: 0.938rem;
}

.btn-primary {
  background: #ef602a;
  border: none;
}

.header__second-section {
  height: 200px;
  object-fit: cover;
  margin-top: 11px;
}

.header__third-section {
  margin-top: 16px;
  gap: 16px;
}

.third__section-first-text {
  gap: 8px;
  z-index: 999999999999999999;
}

.third__section-first-text span {
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 15px;
  background: #25292b;
  align-self: center;
}

.third__section-first-text p {
  font-size: 0.875rem;
}

.third__section-second-text p {
  font-size: 1rem;
  font-weight: bold;
}

.third__section-third-text p {
  font-size: 0.875rem;
  opacity: 0.7;
}

.close__icon {
  background: #25292b;
  padding: 10px;
  position: fixed;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  z-index: 999999999999999999999;
  top: 4%;
  right: 26%;
  display: none;
}

@media (min-width: 1920px) {
  .close__icon {
    display: block;
  }

  .header__first-section > img,
  .header__first-section > div {
    display: none;
  }

  .header__second-section {
    margin: 0;
    border-radius: 13px 13px 0 0;
    height: 350px;
  }

  .header__third-section {
    padding: 0px 43px;
    gap: 10px;
    margin-top: 24px;
  }

  .third__section-first-text {
    position: fixed;
    top: 4.3%;
    left: 26%;
    background: #25292b;
    border-radius: 35px;
    padding: 4px 15px 4px 4px;
  }

  .third__section-first-text span {
    border-radius: 13px;
    background: rgb(68, 73, 75);
    padding: 4px 10px;
  }

  .third__section-second-text p {
    font-size: 20px;
  }

  .third__section-third-text p {
    font-size: 16px;
  }
}
