<div class="final__stage__info container">
  <img
    class="img-fluid w-100 final__stage__img"
    src="../../assets/final-info-img.jpg"
    alt="image"
  />
  <div class="below__final__stage__image__text__container">
    <span>გაემგზავრე The Festival in Malta-ზე!</span>

    <div class="text__group">
      <span>The Festival Series ტურნირების</span>
      <span class="text__group-new-line">
        ფარგლებში, ევროპაბეთი უკვე მეორედ</span
      >
      <span class="text__group-new-line"> აძლევს პოკერის მოთამაშეებს</span>
      <span class="text__group-new-line"> დაუვიწყარი მოგზაურობის შანსს.</span>
    </div>
  </div>

  <div class="below__final__stage__image__separated__text__container">
    <span>15-დან 21 მაისის ჩათვლით მალტა</span>
    <span> პოკერის ფესტივალს უმასპინძლებს</span>
  </div>
  <div class="a__category__trip">
    <app-a-category-trip></app-a-category-trip>
    <app-a-category-trip></app-a-category-trip>
    <app-a-category-trip></app-a-category-trip>
  </div>
</div>
