<div class="thirty__april__tournaments">
  <div class="thirty__april__tournaments-title">
    <span>მოიგე საგზური 30 აპრილის</span>
    <span>ტურნირებზე</span>
  </div>
  <div class="thirty__april__tournaments-container">
    <div class="thirty__april__tournaments-container-first-half">
      <div class="tournaments__container-item">
        <span class="__item-text">
          <span>„Holdem Grinders”</span>
          <span class="new__line">C კატეგორიის 1 საგზური</span>
        </span>
        <img
          class="__item-img"
          src="../../assets/poker-item-1-ticket-icon.png"
          alt="..."
        />
      </div>

      <div class="tournaments__container-item">
        <span class="__item-text">
          <span>“Cashgame Sharks”</span>
          <span class="new__line"> C კატეგორიის 1 საგზური</span>
        </span>
        <img
          class="__item-img"
          src="../../assets/poker-item-1-ticket-icon.png"
          alt="..."
        />
      </div>

      <div class="tournaments__container-item">
        <span class="__item-text">
          <span>„Holdem Grinders”</span>
          <span class="new__line"> C კატეგორიის 1 საგზური</span>
        </span>
        <img
          class="__item-img"
          src="../../assets/poker-item-1-ticket-icon.png"
          alt="..."
        />
      </div>
    </div>
    <div class="thirty__april__tournaments-container-second-half">
      <div class="tournaments__container-item">
        <span class="__item-text">
          <span>„The Festival in Malta, GTD“</span>
          <span class="new__line"> B კატეგორიის 1 საგზური</span>
          <span class="new__line"> C კატეგორიის 1 საგზური</span>
          <span class="new__line"> *ტურნირში მონაწილეობის მიღება</span>
          <span class="new__line"> შეუძლია ნებისმიერ მსურველს 165₾</span>
          <span class="new__line"> ბაი-ინის გადახდით.</span>
        </span>
        <img
          class="__item-img"
          src="../../assets/poker-item-2-ticket-icon.png"
          alt="..."
        />
      </div>

      <div class="tournaments__container-item">
        <span class="__item-text">
          <span>“Cashgame Sharks”</span>
          <span class="new__line"> C კატეგორიის 1 საგზური</span>
          <span class="new__line"> *ტურნირზე მონაწილებას შეძლებენ</span>
          <span class="new__line"> მხოლოდ ევროპაბეთის ბეჭდის</span>
          <span class="new__line"> მფლობელები.</span>
        </span>
        <img
          class="__item-img"
          src="../../assets/poker-item-1-ticket-icon.png"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="tournaments__extra__info">
    <div>
      <span>* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან</span>
      <span> მეტჯერ, ის The Lord of the Rings</span>
      <span> ტურნირზემოხვდება ბეჭდების შესაბამისი</span>
      <span> რაოდენობის სტეკით</span>
    </div>

    <div>
      <span>*ტურნირში მონაწილეობის მიღება შეუძლია</span>
      <span> ნებისმიერ მსურველს 165₾-იანი ბაი-ინის</span>
      <span> გადახდით.</span>
    </div>
  </div>
</div>
