<div class="custom__table">
  <div class="custom__table-header">
    <span class="table__head-row">ადგილი</span>
    <span class="table__head-row">
      <img
        class="ticket__icon"
        src="../../assets/ticket.png"
        alt="ticket icon"
      />
      ვაუჩერი
    </span>
    <span class="table__head-row">პრიზი</span>
  </div>

  <div class="custom__table-body">
    <div *ngFor="let prize of prizes; index as i" class="custom__table-row">
      <span class="table__body-cell">{{ prize.cell1 + i }}</span>
      <span class="table__body-cell">{{ prize.cell2 }}</span>
      <span class="table__body-cell">
        <img
          *ngIf="prize.cell1 + i === 1"
          class="body__cell-icon"
          src="../../assets/travel.png"
          alt="plane icon"
        />
        <img
          *ngIf="prize.cell1 + i === 2"
          class="body__cell-icon"
          src="../../assets/ticket.png"
          alt="ticket icon"
        />
        {{ prize.cell3 }}
        <span class="body__cell-new-line">{{ prize.cell3NewLine }}</span>
      </span>
    </div>
  </div>
</div>
