<app-tournaments-satellites></app-tournaments-satellites>
<div class="new__year__series">
  <div class="new__year__series-title">
    <h6 class="mb-0">
      <span>მოხვდი TOP22 ლიდერბორდში</span>
      <span class="title__new-line"> ტურნირებზე დაგროვებული</span>
      <span class="title__new-line"> ქულებით</span>
    </h6>
  </div>
  <div class="new__year__series-container text-white">
    <div class="new__year__series-subtitle">
      <h5 class="mb-0">
        ქულების დაგროვების მექანიკა
        <img
          class="mechanic__icon"
          src="../../assets/mechanic.png"
          alt="mechanic icon"
        />
      </h5>
    </div>
    <app-custom-table></app-custom-table>
    <app-prizes-review></app-prizes-review>
    <app-bonus-link></app-bonus-link>
    <div class="text__below__bonus__link">
      <span>* სატურნირო ლიდერბორდის ქულების</span>
      <span class="text__below__bonus__link-new-line">
        დათვლაში არ მონაწილეობს ფრიროლები და</span
      >
      <span class="text__below__bonus__link-new-line"> სატელიტები</span>
    </div>
  </div>
</div>
<app-everyday-tournaments-satellites></app-everyday-tournaments-satellites>
<app-bonus-info></app-bonus-info>
