<div class="tournaments__satellites">
  <div class="tournaments__satellites-first">
    <h6>ტურნირები და სატელიტები</h6>
  </div>

  <div class="tournaments__satellites-second">
    <div class="second__container-title">
      <span>სერიის ფარგლებში, ყოველდღიურად</span>
      <span class="container__title-new-line"> გაიმართება 3 ივენთი:</span>
    </div>
    <div class="second__container-hours">
      <span class="__hours-icon-container">
        <img src="../../assets/clock.png" alt="clock icon" />
      </span>
      <span class="__hours">19:00 / 19:30 / 20:00</span>
    </div>
    <div
      class="second__container-images p-0 container d-flex justify-content-between"
    >
      <img
        class="img-fluid"
        src="../../assets/promo-left-img.png"
        alt="promotion image"
      />
      <img
        class="img-fluid"
        src="../../assets/promo-right-img.png"
        alt="promotion image"
      />
    </div>
  </div>

  <div class="tournaments__satellites-third">
    <span class="third__container-first">
      <span>* ყველა ტურნირზე მოხვედრა შესაძლებელია</span>
      <span class="container__first-new-line"> 0 ლარიდან</span>
    </span>

    <span class="third__container-second">
      <span>ტურნირების სრული განრიგის სანახავად</span>
      <span class="container__second-new-line"> გადადი პოკერის ლობიში</span>
    </span>

    <span class="third__container-third">
      <button>პოკერის ლობი</button>
    </span>
  </div>
</div>
