<div class="everyday__tournaments__satellites">
  <p>ყოველდღიური ტურნირები და სატელიტები</p>

  <div class="everyday__tournaments__satellites-grid-images">
    <div class="grid__image__first">
      <span class="grid__image-text-container">
        <span class="text__container-left">
          <span class="text__container__left-up">Omaha Highrollers</span>
          <span class="text__container__left-down">40 000ლ</span>
        </span>
        <span class="text__container-right">
          <span class="text__container__right-up">ბაი-ინი XXXლ</span>
          <span class="text__container__right-down">27 დეკემბერი</span>
        </span>
      </span>
    </div>
    <div class="grid__image__second">
      <span class="grid__image-text-container">
        <span class="text__container-left">
          <span class="text__container__left-up">Omaha Highrollers</span>
          <span class="text__container__left-down">40 000ლ</span>
        </span>
        <span class="text__container-right">
          <span class="text__container__right-up">ბაი-ინი XXXლ</span>
          <span class="text__container__right-down">27 დეკემბერი</span>
        </span>
      </span>
    </div>
    <div class="grid__image__third">
      <span class="grid__image-text-container">
        <span class="text__container-left">
          <span class="text__container__left-up">Omaha Highrollers</span>
          <span class="text__container__left-down">40 000ლ</span>
        </span>
        <span class="text__container-right">
          <span class="text__container__right-up">ბაი-ინი XXXლ</span>
          <span class="text__container__right-down">27 დეკემბერი</span>
        </span>
      </span>
    </div>
  </div>

  <p class="everyday__tournaments__satellites-extra-info">
    <span class="extra__info-first">
      <span>* სამივე ტურნირის გამარჯვებულები მიიღებენ</span>
      <span class="everyday__tournaments__satellites-extra-info-new-line">
        ბეჭდებს და ფინალურ ეტაპზე, The</span
      >
    </span>

    <span class="extra__info-second">
      <span class="everyday__tournaments__satellites-extra-info-new-line">
        Lord of the Rings ტრუნირზე, იბრძოლებენ The</span
      >
      <span class="everyday__tournaments__satellites-extra-info-new-line">
        Festival in Malta-ს საგზურის მისაღებად</span
      >
    </span>
  </p>
</div>
