<div class="prizes__review">
    <div class="prizes__review-row">
        <img src="../../assets/travel.png" alt="plane icon">
        <span>The Festival in Malta-ს საჩუქარი</span>
    </div>
    <div class="prizes__review-row">
        <img src="../../assets/ticket.png" alt="ticket icon">
        <span class="row__text-container">
            <span>სპეციალური ტურნირის "Cashgame</span>
            <span class="text__container-new-line"> Sharks" ბილეთი, სადაც გათამაშდება</span>
            <span class="text__container-new-line"> The Festival in Malta-ს საგზური</span>
        </span>
    </div>
    <div class="prizes__review-row">
        <img src="../../assets/ticket.png" alt="ticket icon">
        <span>"ალტას" ვაუჩერი</span>
    </div>
</div>
