.a__category__trip {
  background: #2c3234;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.a__category__trip-title {
  padding: 0 16px;
  position: relative;
  height: 4.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a__category__trip-title h6 {
  font-size: 14px;
  margin: 0;
}

.a__category__trip-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 125px;
  height: 4px;
  background-color: #ef5a21;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 20px #ef5a21;
}

.a__category__trip-container {
  padding: 8px 12px;
  display: grid;
  gap: 6px;
  background: rgb(37, 41, 43);
  border-radius: 0 0 16px 16px;
}

.trip__container-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  background: #1c1d1e;
  padding: 12px 0 12px 15px;
  font-size: 13px;
  border-radius: 10px;
  gap: 12px;
}

.__item-text {
  line-height: 16px;
}

.__item-text span:nth-child(2) {
  display: block;
}

@media (min-width: 1920px) {
  .__item-text {
    font-size: 12px;
  }
}
