<div class="a__category__trip">
    <div class="a__category__trip-title">
        <h6>A კატეგორიის საგზურში შედის</h6>
    </div>
    <div class="a__category__trip-container">
        <div class="trip__container-item">
            <img src="../../assets/final-item-ticket-icon.png" alt="...">
            <span class="__item-text">ორმხრივი ავიაბილეთები</span>
        </div>

        <div class="trip__container-item">
            <img src="../../assets/final-item-hotel-icon.png" alt="...">
            <span class="__item-text">
                <span>The Festival in Malta</span>
                <span> -ს მეინ ივენთის ბაინ-ინი</span>
            </span>
        </div>

        <div class="trip__container-item">
            <img src="../../assets/final-item-event-icon.png" alt="...">
            <span class="__item-text">
                <span>Holdem ან Omaha</span>
                <span> ჰაიროლერ ტურნირის</span>
                <span> ბაი-ინი</span>
            </span>
        </div>

        <div class="trip__container-item">
            <img src="../../assets/final-item-ticket-icon.png" alt="...">
            <span class="__item-text">სასტუმრო</span>
        </div>

        <div class="trip__container-item">
            <img src="../../assets/final-item-money-icon.png" alt="...">
            <span class="__item-text">€500 სახარჯი ფული</span>
        </div>
    </div>
</div>
