<div class="similar__promotions container">
  <h5 class="similar__promotions-title">მსგავსი აქციები</h5>
  <owl-carousel-o class="text-white owl__carousel" [options]="customOptions">
    <ng-template class="carousel__slide" carouselSlide>
      <img
        class="swiper__img"
        src="../../assets/swiper-img1.png"
        alt="promotion image"
      />
      <span class="img__overlay overlay__first">
        <span class="img__overlay-title">მიიღე 300% ქეშბექი</span>

        <span class="img__overlay-sub-title">
          <span>retrieve 300% bet</span>
          <span class="overlay__sub__title-new-line">
            amount as real money only here</span
          >
        </span>
      </span>
    </ng-template>
    <ng-template class="carousel__slide" carouselSlide>
      <img
        class="swiper__img"
        src="../../assets/swiper-img2.png"
        alt="promotion image"
      />
      <span class="img__overlay overlay__second">
        <span class="img__overlay-title">მალე</span>

        <span class="img__overlay-sub-title">
          <span>retrieve 300% bet</span>
          <span class="overlay__sub__title-new-line">
            amount as real money only here</span
          >
        </span>
      </span>
    </ng-template>
    <ng-template class="carousel__slide" carouselSlide>
      <img
        class="swiper__img"
        src="../../assets/swiper-img3.png"
        alt="promotion image"
      />
      <span class="img__overlay overlay__third">
        <span class="img__overlay-title">მოიგე ჯეკპოტი</span>

        <span class="img__overlay-sub-title">
          <span>retrieve 300% bet</span>
          <span class="overlay__sub__title-new-line">
            amount as real money only here</span
          >
        </span>
      </span>
    </ng-template>
    <ng-template class="carousel__slide" carouselSlide>
      <img
        class="swiper__img"
        src="../../assets/swiper-img1.png"
        alt="promotion image"
      />
      <span class="img__overlay overlay__first">
        <span class="img__overlay-title">მიიღე 300% ქეშბექი</span>

        <span class="img__overlay-sub-title">
          <span>retrieve 300% bet</span>
          <span class="overlay__sub__title-new-line">
            amount as real money only here</span
          >
        </span>
      </span>
    </ng-template>
    <ng-template class="carousel__slide" carouselSlide>
      <img
        class="swiper__img"
        src="../../assets/swiper-img2.png"
        alt="promotion image"
      />
      <span class="img__overlay overlay__second">
        <span class="img__overlay-title">მალე</span>

        <span class="img__overlay-sub-title">
          <span>retrieve 300% bet</span>
          <span class="overlay__sub__title-new-line">
            amount as real money only here</span
          >
        </span>
      </span>
    </ng-template>
    <ng-template class="carousel__slide" carouselSlide>
      <img
        class="swiper__img"
        src="../../assets/swiper-img3.png"
        alt="promotion image"
      />
      <span class="img__overlay overlay__third">
        <span class="img__overlay-title">მოიგე ჯეკპოტი</span>

        <span class="img__overlay-sub-title">
          <span>retrieve 300% bet</span>
          <span class="overlay__sub__title-new-line">
            amount as real money only here</span
          >
        </span>
      </span>
    </ng-template>
  </owl-carousel-o>
</div>
