.cash__games{
    margin-top: 31px;
    color: white;
}


.cash__games-title{
    background: #2C3234;
    padding: 1.594rem 0;
    text-align: center;
    border-radius: 16px;
    position: relative;
    width: 100%;
}



.cash__games-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: 4px;
    background-color: #EF5A21;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 20px #EF5A21;
}



.cash__games-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.531rem;
    margin-top: 15px;
}


.cash__games-subtitle h5{
    font-size: 13px;
}


.cash__games-subtitle img{
    width: 20px;
    height: 20px;
}


.cash__games-container{
    background: #25292B;
    border-radius: 16px;
}









