<div class="cash__games">
  <div class="cash__games-title">
    <h6 class="mb-0">1ლ რეიქი = 1 ქულას</h6>
  </div>
  <div class="cash__games-container text-white">
    <div class="cash__games-subtitle">
      <h5 class="mb-0">TOP20 ლიდერბორდი ჰოლდემში</h5>
      <img src="../../assets/example.png" alt="example icon" />
    </div>
    <app-custom-table></app-custom-table>
    <app-prizes-review></app-prizes-review>
    <div class="cash__games-subtitle">
      <h5 class="mb-0">TOP20 ლიდერბორდი ჰოლდემში</h5>
      <img src="../../assets/example.png" alt="example icon" />
    </div>
    <app-custom-table></app-custom-table>
    <app-prizes-review></app-prizes-review>
    <app-bonus-link></app-bonus-link>
  </div>
</div>
<app-bonus-info></app-bonus-info>
